[submodule "embedding-ggml/kaldi-native-fbank"]
	path = models/embedding-ggml/kaldi-native-fbank
	url = https://github.com/csukuangfj/kaldi-native-fbank
[submodule "ggml"]
	path = ggml
	url = https://github.com/ggml-org/ggml
